<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Copie local vers routeur -->
    <add key="SourceDir" value="C:\\DupliTop7\\Parties"/>
    <add key="DestinationDirs" value="\\COCM-A\DupliSync;\\COCM-B\DupliSync"/>
    
    <!-- Copie du routeur vers local -->
    
    <add key="TimerInterval" value="30000"/>
  </appSettings>
</configuration>